.App {
  text-align: center;
}
header{
  background-image: url('https://i.imgur.com/rgEUDfm.gif');
  background-repeat: no-repeat;
  background-position: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 10px;
}
button {
  background-color: white;
  color: black;
  border: none;
  padding: 50px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}
/* #search-button {
  background-color: gray;
  color: black;
  border: none;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
}
#bed:hover{
background: url("https://i.imgur.com/gsJ95EN.jpg?1");
background-repeat: no-repeat;
background-position: center;
z-index: 3;
}

#fish:hover{
 background: url("https://i.imgur.com/sLqsQUy.jpg?1");
background-repeat: no-repeat;
background-position: center;

}
#yarn:hover{
  background: url("https://i.imgur.com/aFNClyj.jpg?1");
background-repeat: no-repeat;
background-position: center;

}
#shoes:hover{
  background: url("https://i.imgur.com/WUmw7vs.jpg?1");
  background-repeat: no-repeat;
  background-position: center;

}

#toilet:hover {
  background: url("https://i.imgur.com/IB1j1Ul.jpg?1");
  background-repeat: no-repeat;
  background-position: center;

}  */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
