.App {
  text-align: center;
}
/* header{
  background: url('https://i.imgur.com/rgEUDfm.gif');
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */
.navContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2a30aa;
  padding: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
